<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>{{#block 'title'}}{{/block}}</title>
  </head>

  <body class="bg-dark">
    <!-- Inject success message -->
    {{#if success_messages}}
    {{#each success_messages}}
    <div class="alert alert-success">{{ this }}</div>
    {{/each}}
    {{/if}}

    <!-- Inject error message -->
    {{#if error_messages}}
    {{#each error_messages}}
    <div class="alert alert-danger">{{ this }}</div>
    {{/each}}
    {{/if}}

    <section class="container-fluid bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/products">PostersTomorrow</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/products"
              >Home <span class="sr-only">(current)</span></a
            >
            <a class="nav-item nav-link" href="/about-us">About</a>
            <a class="nav-item nav-link" href="/contact-us">Contact</a>
            <a class="nav-item nav-link" href="/products/create"
              >Create Product</a
            >
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
          </div>
          <a href="/login" class="btn btn-info">Log In</a>
          <a href="/register" class="btn btn-primary ml-2">Register</a>
        </div>
      </nav>
      <div class="text-light">
      {{#block 'content'}}{{/block}}
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
