{{#extends 'base'}}

{{#block 'title'}} Create a Product {{/block}}

{{#block 'content'}}
<h1>Create New Product</h1>
<form method="POST" class="form-dark">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}
    <input type="submit" class="btn btn-warning" value="Create Product" />
</form>
{{/block}}
{{/extends}}
