{{#extends 'base'}}

{{#block 'title'}} Index of all Products {{/block}}

{{#block 'content'}}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Cost (in cents)</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td>{{ this.name }}</td>
        <td>{{ this.cost }}</td>
        <td>{{ this.description }}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/block}}
{{/extends}}
