{{#extends 'base'}}

{{#block 'title'}} Update Product {{/block}}

{{#block 'content'}}
<h1>Update Product</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" class="btn btn-primary" value="Create Product" />
</form>
{{/block}}
{{/extends}}
